
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
     
}


 <div class="main-content app-content">
            <div class="container-fluid">  
 

 
<!-- Loader -->
<div id="loader">
    <img src="../assets/images/media/loader.svg" alt="">
</div>
<!-- Loader -->

<div class="row authentication coming-soon mx-0 justify-content-center">

    <div class="col-xxl-8 col-xl-8 col-lg-8 col-12">
        <div class="authentication-cover text-fixed-white">
            <div class="aunthentication-cover-content text-center py-5 px-sm-5 px-0">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <h1 class="display-1 text-fixed-white">
                            Welcome
                            </h1><br/>
                        <h1 class="text-fixed-white">PCM CRM</h1>
                        <div class="m-4">
                           @*  <p class="fs-16">Sorry, an error has occured, Requested page not found!</p> *@
                        </div>
                        <div class="text-center">
                            <a class="btn btn-secondary d-inline-flex gap-1" href="index.html"> <i class="ri-arrow-left-line my-auto "></i> Back to Home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>
</div>