@* @model Core.UserDetails.User_DetailsContent *@
@* <form class="form-sample" asp-action="search_user_details" asp-controller="UserDetails" />
                <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName1">Real Name</label>
                                <div class="col-sm-12">
                                    <input class="form-control" asp-for="Str_Real_Name" name="Str_Real_Name" type="text" placeholder="User Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName2">Pseudo Name</label>
                                <div class="col-sm-12">
                                    <input class="form-control" asp-for="Str_Pseudo_Name" name="Str_Pseudo_Name" type="text" id="textpseudoname" placeholder="Pseudo name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName3">Employee ID</label>
                                <div class="col-sm-12">
                                    <input class="form-control" asp-for="Str_Emp_ID" name="Str_Emp_ID" type="text" id="textempid" placeholder="Employee ID" />
                                </div>
                            </div>
                        </div>
                </div>
               <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName4">Designation</label>
                            <div class="col-sm-12">
                                <input class="form-control" asp-for="Str_Role_ID" name="Str_Role_ID" type="text" id="textroleid" placeholder="Role ID" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName9">Manager Employee ID</label>
                            <div class="col-sm-12">
                                <input class="form-control" asp-for="Str_Mng_Emp_ID" name="Str_Mng_Emp_ID" type="text" id="textmanagerid" placeholder="Manager Employee ID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName10">Teamleader Employee ID</label>
                            <div class="col-sm-12">
                                <input class="form-control" asp-for="Str_TL_Emp_ID" name="Str_TL_Emp_ID" type="text" id="textteamleaderid" placeholder="TeamLeader ID" />
                            </div>
                        </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName10"></label>
                            <div class="col-sm-12">
                                 <button type="button" class="btn btn-inverse-success btn-fw">Success</button>
                              <button type="submit" class="btn" style="background-color:#c4dbff">Search</button>
                            </div>
                        </div>
                    </div>
               </div>
<form />
           *@     